@use 'variables';
@use 'mixins';

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: variables.$light-color;
  color: variables.$dark-color;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: variables.$primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  @include mixins.button;
}

img {
  max-width: 100%;
  height: auto;
}