@use '../../styles/variables';
@use '../../styles/mixins';


.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    background: variables.$primary-color;
    color: variables.$white;
    padding: variables.$spacing-lg;
    text-align: center;
  
    @include mixins.mobile {
      padding: variables.$spacing-md;
      position: sticky;
      top: 0;
      z-index: 100;
    }
    
  
    h1 {
      font-size: 26px;
      margin: 0 0 variables.$spacing-md 0;

      @include mixins.tablet {
        font-size: 32px;
      }

      @include mixins.desktop {
        font-size: 32px;
      }
    }

    .headerControls {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;


      @include mixins.tablet {
        flex-direction: row;
        justify-content: center;
      }
    }

    .themeButton {
      @include mixins.button;
      background: rgba(variables.$white, 0.2);
      border: 1px solid rgba(variables.$white, 0.3);
      color: variables.$white;
      font-size: 1.2rem;

      &:hover {
        background: rgba(variables.$white, 0.3);
        border-color: rgba(variables.$white, 0.4);
      }
    }

    .addBusinessButton {
      @include mixins.button;
      box-shadow: 4px 4px 8px rgba(white, 0.9);
      color: variables.$white;
      margin-right: variables.$spacing-md;

      &:hover {
        border-color: rgba(white, 0.4);
      }
    }

    .filterButton {
      @include mixins.button;
      background: rgba(variables.$white, 0.2);
      border: 1px solid rgba(variables.$white, 0.3);
      color: variables.$white;
      display: block;

      @include mixins.tablet {
        display: none;
      }

      @include mixins.desktop {
        display: none;
      }

      &:hover {
        background: rgba(variables.$white, 0.3);
        border-color: rgba(variables.$white, 0.4);
      }
    }
  }

  .container {
    display: flex;
    flex: 1;

    .sidebar {
      width: 300px;
      padding: variables.$spacing-lg;
      background: variables.$card-background;

      @include mixins.mobile {
        display: none; // Hide sidebar on mobile
      }
    }

    .main {
      flex: 1;
      padding: variables.$spacing-lg;
    }
  }

  .mobileFilterOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: variables.$spacing-xl;

    @include mixins.tablet {
      display: none;
    }
  }

  .mobileFilterModal {
    background: variables.$card-background;
    border-radius: variables.$border-radius;
    width: 90%;
    max-width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: variables.$shadow-hover;

    .mobileFilterHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: variables.$spacing-lg;
      border-bottom: 1px solid variables.$light-color;

      h3 {
        margin: 0;
        color: variables.$dark-color;
      }

      .closeButton {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: variables.$secondary-color;
        padding: variables.$spacing-xs;
        border-radius: variables.$border-radius;

        &:hover {
          background: variables.$light-color;
        }
      }
    }

    .mobileFilterContent {
      padding: variables.$spacing-lg;
      padding-top: 0;
    }
  }
}