@use "sass:color";
@use '../../styles/variables';
@use '../../styles/mixins';

.filterSidebar {
  background: variables.$card-background;
  padding: variables.$spacing-lg;
  padding-top: 0;
  border-radius: variables.$border-radius;
  box-shadow: variables.$shadow;
  color: variables.$dark-color;

  h3 {
    margin-top: 0;
    margin-bottom: variables.$spacing-md;
    color: variables.$dark-color;
  }

  .clearButton {
    @include mixins.button;
    background: variables.$secondary-color;
    border-color: variables.$secondary-color;
    margin-bottom: 0.5rem;

    &:hover {
      background: var(--secondary-hover-color);
    }
  }

  .filterGroup {
    margin-bottom: variables.$spacing-lg;

    h4 {
      margin-bottom: variables.$spacing-sm;
      color: variables.$dark-color;
      font-size: 1rem;
    }

    .checkboxLabel {
      display: block;
      margin-bottom: variables.$spacing-xs;
      cursor: pointer;

      input {
        margin-right: variables.$spacing-sm;
      }
    }
  }

  .accordionHeader {
    width: 100%;
    background: none;
    border: 1px solid variables.$light-color;
    border-radius: variables.$border-radius;
    padding: variables.$spacing-md;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: variables.$transition;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: variables.$spacing-sm;
    color: variables.$dark-color;

    &:hover {
      background: variables.$light-color;
    }

    &.active {
      border-color: variables.$primary-color;
      background: rgba(variables.$primary-color, 0.05);
    }

    .activeIndicator {
      color: variables.$primary-color;
      font-size: 0.8rem;
    }
  }

  .accordionContent {
    padding: variables.$spacing-md;
    border: 1px solid variables.$light-color;
    border-radius: variables.$border-radius;
    background: variables.$card-background;
    margin-bottom: variables.$spacing-md;

    .checkboxLabel {
      display: block;
      margin-bottom: variables.$spacing-sm;
      cursor: pointer;
      color: variables.$dark-color;
      padding: variables.$spacing-xs;
      border-radius: variables.$border-radius;

      input {
        margin-right: variables.$spacing-sm;

        &:checked {
          accent-color: variables.$primary-color;
        }
      }

      &.checked {
        background: rgba(variables.$primary-color, 0.2);
        border: 2px solid variables.$primary-color;
      }
    }
  }

  .mobileActions {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-md;
    margin-top: variables.$spacing-lg;
    padding-top: 0;
    border-top: 1px solid variables.$light-color;

    .clearButton {
      width: 100%;
      @include mixins.button;
      background: variables.$secondary-color;
      border-color: variables.$secondary-color;

      &:hover {
        background: var(--secondary-hover-color);
      }
    }

    .applyButton {
      width: 100%;
      @include mixins.button;
      background: variables.$primary-color;
      border-color: variables.$primary-color;

      &:hover {
        background: var(--primary-hover-color);
      }
    }
  }
}